.container{
    width: 200px;
    min-height: 230px;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.title{
    width: 100%;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 2px solid gray;
}

.description{
    min-height: 120px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #cdcdcd;
}

.description p{
    margin: 0;
}

.footer{

}